<%- include('partials/header') %>
<div>
  <h1>Home</h1>
  <p><%= startingContent %></p>
</div>

<% posts.forEach(element => { %>
    <div>
        <hr>
        <h1> <%= element.title %></h1> 
        <p> <%= element.body.substring(0, 100) %> ... <a href="posts/<%= element.title %> ">Read More</a></p> </p>
    </div>
<% }) %>

<%- include('partials/footer') %>
